@model IEnumerable<ASP_Epreuve_hd.Models.Product.ProductListItemViewModel>

@{
    ViewData["Title"] = "Admin CRUD Product";
}

<h1>Vous pouvez ajouter, modifier, supprimer des produits sur cette page</h1>

<p>
    <a asp-action="Create">Ajouter un nouveau produit</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EcologicalCriteriaEcoScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcologicalCriteriaEcoScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.ActionLink("Voir détails", "DetailsProduct", new { id=item.Id_Product }) |
                @Html.ActionLink("Modifier", "Edit", new { id=item.Id_Product}) |
                
                @Html.ActionLink("Supprimer", "Delete", new { id=item.Id_Product})
            </td>
        </tr>
}
    </tbody>
</table>
